# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Cache
.cache/
.npm
.env

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS
.DS_Store
Thumbs.db
